<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= name %></title>

    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/dark-theme.css">
    <link rel="stylesheet" href="/markdown.css">
    <link rel="stylesheet" href="/mobile.css">

    <link rel="preload" href="/profile-pic" as="image">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" id="highlightjs-light" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
    <link rel="stylesheet" id="highlightjs-dark" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css" disabled>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="image-container">
                  <% if (image) { %>
                      <img src="/profile-pic" alt="Profile Image">
                  <% } %>
                </div>
                <h1>~ <%= name %></h1>
                <div class="navigation-buttons">
                    <%- folderStructure %>
                </div>
                <button class="arrow-btn" id="collapseSidebar">⟨</button>
            </div>
        </div>
        <div class="main">
            <div id="file-content" class="markdown-body">
                <%- initialContent %>
                <div class="theme-toggle-icon" title="Toggle Theme">
                    <i id="themeToggleIcon" class="fa-solid fa-circle-half-stroke"></i>
                </div>
                <% if (typeof relativePath !== 'undefined') { %>
                    <a href="/download/<%= relativePath %>" class="download-button download-icon" title="Download">
                        <i class="fa fa-download"></i>
                    </a>
                <% } %>
                <a href="https://github.com/tupakkatapa/coditon-md" class="src-button src-icon" title="Source Code">
                    <i class="fa-solid fa-link"></i>
                </a>
                <a href="/rss.xml" class="rss-button rss-icon" title="RSS Feed">
                    <i class="fa fa-rss"></i>
                </a>
            </div>
            <div class="social-links-bar">
              <% if (socialLinks && socialLinks.length > 0) { %>
                  <% socialLinks.forEach(function(link) { %>
                      <a href="<%= link.href %>" class="social-link">
                          <i class="fab <%= link.fab %>"></i>
                      </a>
                  <% }); %>
              <% } %>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Theme
            const themeToggleIcon = document.getElementById("themeToggleIcon");
            themeToggleIcon.addEventListener("click", () => {
                const isCurrentlyDark = document.body.classList.contains("dark-theme");
                const newTheme = isCurrentlyDark ? "light" : "dark";
                document.body.classList.toggle("dark-theme", !isCurrentlyDark);
                localStorage.setItem("theme", newTheme);
                document.getElementById("highlightjs-light").disabled = !isCurrentlyDark;
                document.getElementById("highlightjs-dark").disabled = isCurrentlyDark;
            });

            const preferredTheme = localStorage.getItem("theme") || "dark";
            document.body.classList.toggle("dark-theme", preferredTheme === "dark");
            document.getElementById("highlightjs-light").disabled = preferredTheme === "dark";
            document.getElementById("highlightjs-dark").disabled = preferredTheme !== "dark";

            // Button
            const collapseBtn = document.getElementById('collapseSidebar');
            const sidebar = document.querySelector('.sidebar');
            const container = document.querySelector('.container');

            collapseBtn.addEventListener('click', () => {
                sidebar.classList.toggle('collapsed');
                container.classList.toggle('sidebar-collapsed');
                document.body.classList.toggle('no-scroll', !sidebar.classList.contains('collapsed'));
                collapseBtn.style.transform = sidebar.classList.contains('collapsed') ? 'rotate(180deg)' : 'rotate(0deg)';
            });

            // Swipe
            let touchStartX = 0;
            let touchEndX = 0;

            document.body.addEventListener('touchstart', e => {
                touchStartX = e.changedTouches[0].screenX;
            });

            document.body.addEventListener('touchend', e => {
                touchEndX = e.changedTouches[0].screenX;
                const threshold = 75;
                if (touchEndX > touchStartX + threshold && touchStartX < 50 && sidebar.classList.contains('collapsed')) {
                    sidebar.classList.toggle('collapsed');
                    container.classList.toggle('sidebar-collapsed');
                } else if (touchEndX < touchStartX - threshold && !sidebar.classList.contains('collapsed')) {
                    sidebar.classList.toggle('collapsed');
                    container.classList.toggle('sidebar-collapsed');
                }
            });

            // Auto collapse
            if (window.innerWidth <= 768 && !sidebar.classList.contains('collapsed')) {
                sidebar.classList.add('collapsed');
                container.classList.add('sidebar-collapsed');
            }

            addCopyButtons();
            setupFolderToggles();
        });

        function addCopyButtons() {
            const codeBlocks = document.querySelectorAll('.markdown-body pre code');
            codeBlocks.forEach(block => {
                const parent = block.parentNode;
                if (!parent.classList.contains('code-wrapper')) {
                    const copyButton = document.createElement('button');
                    copyButton.className = 'copy-button';
                    copyButton.textContent = 'Copy';
                    copyButton.addEventListener('click', () => {
                        navigator.clipboard.writeText(block.textContent).then(() => {
                            copyButton.textContent = 'Copied!';
                            setTimeout(() => {
                                copyButton.textContent = 'Copy';
                            }, 2000);
                        });
                    });

                    const wrapper = document.createElement('div');
                    wrapper.className = 'code-wrapper';
                    parent.replaceChild(wrapper, block);
                    wrapper.appendChild(block);
                    wrapper.appendChild(copyButton);
                }
            });
        }

        function setupFolderToggles() {
            document.querySelectorAll('.sidebar .folder > span').forEach(folderSpan => {
                folderSpan.addEventListener('click', function() {
                    const listItem = this.parentElement;
                    const sublist = listItem.querySelector('ul');
                    listItem.classList.toggle('open');
                    sublist.style.maxHeight = listItem.classList.contains('open') ? sublist.scrollHeight + "px" : 0;
                    const folderIcon = this.querySelector('i');
                    folderIcon.classList.toggle('fa-folder', !listItem.classList.contains('open'));
                    folderIcon.classList.toggle('fa-folder-open', listItem.classList.contains('open'));
                });
            });
        }
    </script>
</body>

</html>
